.ol-map {
    height: 82vh;
    width: 100%;
}

.ol-control {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 2px;
}

.ol-marker {
    height: 42px !important;
}

.basemap-grid {
    position: absolute;
    top: 42px;
    z-index: 7888;
    right: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}



.overlay-container {
    background-color: #555;
    width: 120px;
    color: #fff;
    text-align: center;
    border-radius: 1px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -59px;
    margin-bottom: 6px;

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
}

.overlay-container-popup {
    background-color: white;
    width: 200px;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -59px;
    margin-bottom: 6px;
    font-weight: bold;
    text-align: left;
    padding: 5px;

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: white transparent transparent transparent;
    }
}

// img {
//     height: 30px;
//     width: 30px;
//     position: relative;
//     top: 90px;
//     right: 60px;
//     z-index: 10;
//     float: right;
// }